In [2]:
%cd /Users/trancatkhanh/Downloads

/Users/trancatkhanh/Downloads

# R2 Score predictions

In [5]:
import pandas as pd 
import numpy as np
df1 = pd.read_csv('Test_NA_I_Mar.csv')
#describe df
df1.columns

Index(['N0', 'N1', 'N2', 'N3', 'N4', 'N5', 'N6', 'N7', 'N8', 'N9', 'N10',
       'N11', 'N12', 'N13', 'N14', 'N15', 'N16', 'N17', 'N18', 'N19', 'N20',
       'N21', 'N22', 'N23', 'N24', 'N25', 'N26', 'N27', 'N28', 'N29', 'N30',
       'Label'],
      dtype='object')

In [6]:
df1.head(10)
# turn value in column Label to 0
df1['Label'] = 0

In [7]:
df1.to_csv('Test_NA_I_Mar_1.csv', index=False)

In [8]:
# print the  different between value in each rows of  Label_orig and Label_predicted
df1.describe()

,N0,N1,N2,N3,N4,N5,N6,N7,N8,N9,...,N22,N23,N24,N25,N26,N27,N28,N29,N30,Label
count,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,...,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,94321.000000,94321.0
mean,52.189544,52.148455,52.107152,52.065756,52.023698,51.981536,51.940493,51.900215,51.861103,51.822516,...,51.322860,51.282367,51.241891,51.202045,51.162778,51.121924,51.079733,51.036039,50.990871,0.0
std,55.677199,55.637305,55.596979,55.556232,55.514985,55.472610,55.429590,55.389850,55.353668,55.318402,...,54.787562,54.737122,54.682780,54.629850,54.575555,54.515978,54.451259,54.385795,54.322658,0.0
min,5.100000,5.100000,5.100000,5.100000,5.100000,5.100000,5.100000,5.100000,5.100000,5.100000,...,5.100000,5.100000,5.100000,5.100000,5.100000,5.100000,5.100000,5.100000,5.100000,0.0
25%,19.800000,19.800000,19.800000,19.800000,19.700000,19.700000,19.700000,19.700000,19.700000,19.600000,...,19.500000,19.500000,19.500000,19.500000,19.400000,19.400000,19.400000,19.400000,19.400000,0.0
50%,35.900000,35.900000,35.800000,35.800000,35.800000,35.700000,35.700000,35.700000,35.700000,35.600000,...,35.300000,35.300000,35.300000,35.200000,35.200000,35.200000,35.200000,35.200000,35.200000,0.0
75%,62.500000,62.500000,62.500000,62.500000,62.000000,62.000000,62.000000,62.000000,62.000000,62.000000,...,61.500000,61.500000,61.500000,61.500000,61.500000,61.500000,61.500000,61.500000,61.500000,0.0
max,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,...,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,847.000000,0.0

# NMAE Score predictions

In [34]:
import pandas as pd 
import numpy as np
df = pd.read_csv('predictions (5).csv')
#describe df
df.describe()

,Label_orig,Label_predicted,x1_orig,x2_orig,x3_orig,x4_orig,x5_orig,y1_orig,y2_orig,y3_orig,y4_orig,y5_orig,y6_orig,y7_orig,z1_orig
count,295022.0,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000
mean,0.0,1.124374,0.968170,0.983695,1.019461,0.907629,1.030288,2.904669,2.414379,2.474589,2.102180,2.412832,2.417959,2.171393,121.872081
std,0.0,0.614991,0.617373,0.624529,0.615941,0.433487,0.591801,219.247274,150.895177,191.704086,170.902810,206.453945,201.581442,212.737414,44.034504
min,0.0,-0.312191,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,65.000000
25%,0.0,0.833430,0.628293,0.681883,0.740533,0.702899,0.743191,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.375658,85.000000
50%,0.0,1.011214,1.000000,1.000000,1.000000,0.983516,1.000000,0.139755,0.193232,0.226949,0.257713,0.294379,0.295576,1.000000,127.000000
75%,0.0,1.265712,1.000000,1.046729,1.134725,1.000000,1.169935,0.431089,0.441181,0.490654,0.519588,0.682272,0.716007,1.000000,141.000000
max,0.0,8.648732,5.142857,5.142857,5.142857,3.579546,7.326780,64707.227000,48474.066000,82009.190000,61871.516000,97746.914000,69368.630000,83776.125000,226.000000

In [28]:
# print maximum the precentage different between value in each rows of  Label_orig and Label_predicted
print(df['Label_orig'].sub(df['Label_predicted'], axis = 0).abs().sum())
print(df['Label_orig'].sub(df['Label_predicted'], axis = 0).abs().sum()/df['Label_orig'].sum())

11814.019339471703
0.16695842982621742

# NRMSE Score predictions

In [86]:
import pandas as pd 
import numpy as np
df2 = pd.read_csv('predictions.csv')
#describe df

In [88]:
# print maximum the precentage different between value in each rows of  Label_orig and Label_predicted
print(df2['Label_orig'].sub(df2['Label_predicted'], axis = 0).abs().sum())

76280.22078397976

# Spearman Correlation Score predictions

In [33]:
import pandas as pd 
import numpy as np
df3 = pd.read_csv('predictions (4).csv')
#describe df
df3.describe()

,Label_orig,Label_predicted,x1_orig,x2_orig,x3_orig,x4_orig,x5_orig,y1_orig,y2_orig,y3_orig,y4_orig,y5_orig,y6_orig,y7_orig,z1_orig
count,295022.0,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000
mean,0.0,1.125348,0.968170,0.983695,1.019461,0.907629,1.030288,2.904669,2.414379,2.474589,2.102180,2.412832,2.417959,2.171393,121.872081
std,0.0,0.601662,0.617373,0.624529,0.615941,0.433487,0.591801,219.247274,150.895177,191.704086,170.902810,206.453945,201.581442,212.737414,44.034504
min,0.0,-0.313503,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,65.000000
25%,0.0,0.844785,0.628293,0.681883,0.740533,0.702899,0.743191,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.375658,85.000000
50%,0.0,1.012387,1.000000,1.000000,1.000000,0.983516,1.000000,0.139755,0.193232,0.226949,0.257713,0.294379,0.295576,1.000000,127.000000
75%,0.0,1.258745,1.000000,1.046729,1.134725,1.000000,1.169935,0.431089,0.441181,0.490654,0.519588,0.682272,0.716007,1.000000,141.000000
max,0.0,8.207677,5.142857,5.142857,5.142857,3.579546,7.326780,64707.227000,48474.066000,82009.190000,61871.516000,97746.914000,69368.630000,83776.125000,226.000000

In [31]:
# print maximum the precentage different between value in each rows of  Label_orig and Label_predicted
print(df3['Label_orig'].sub(df3['Label_predicted'], axis = 0).abs().sum())
print(df3['Label_orig'].sub(df3['Label_predicted'], axis = 0).abs().sum()/df3['Label_orig'].sum())
# sum all value in Label_orig
print(df3['Label_orig'].sum())

332123.89434963744
inf
0.0

/var/folders/ds/4lcv95w11y7brm6dqhc04s240000gn/T/ipykernel_11230/2919112743.py:3: RuntimeWarning: divide by zero encountered in double_scalars
  print(df3['Label_orig'].sub(df3['Label_predicted'], axis = 0).abs().sum()/df3['Label_orig'].sum())