In [2]:
%cd /Users/trancatkhanh/Downloads

/Users/trancatkhanh/Downloads

In [56]:
import pandas as pd 
df = pd.read_csv('Data_Supervised_Train.csv')
#describe df
df.describe()

,x1,x2,x3,x4,x5,y1,y2,y3,y4,y5,y6,y7,z1,Label
count,984674.000000,984674.000000,984674.000000,984674.000000,984674.000000,9.846740e+05,9.846740e+05,9.846740e+05,9.846740e+05,9.846740e+05,9.846740e+05,9.846740e+05,984674.000000,984674.000000
mean,0.968371,0.986528,1.017187,0.910458,1.031977,inf,inf,inf,inf,inf,inf,1.686975e+03,121.855761,1.103718
std,0.619420,0.623967,0.611976,0.432921,0.595424,NaN,NaN,NaN,NaN,NaN,NaN,8.052191e+05,44.080763,0.693366
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,65.000000,0.000000
25%,0.628293,0.681883,0.743191,0.707692,0.743191,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.779412e-01,85.000000,0.808858
50%,1.000000,1.000000,1.000000,0.983516,1.000000,1.402237e-01,1.934062e-01,2.270711e-01,2.584359e-01,2.943967e-01,2.957619e-01,1.000000e+00,108.000000,1.000000
75%,1.000000,1.047887,1.134615,1.005128,1.176740,4.315919e-01,4.424346e-01,4.890836e-01,5.208085e-01,6.854405e-01,7.168724e-01,1.000000e+00,141.000000,1.257692
max,5.142857,5.142857,5.142857,3.579545,7.326780,inf,inf,inf,inf,inf,inf,5.196374e+08,226.000000,7.821012

In [57]:
df

,x1,x2,x3,x4,x5,y1,y2,y3,y4,y5,y6,y7,z1,Label
0,1.590909,1.309677,0.681883,1.257692,0.875399,0.226982,0.269745,0.193618,0.226483,0.180053,0.846449,1.000000,141,1.962617
1,0.445946,0.743191,0.822485,1.516667,0.000000,0.222493,0.440044,1.000000,0.372562,0.375142,0.185275,1.000000,85,0.819149
2,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,130,0.200000
3,0.256256,0.914706,0.885813,0.538000,1.020833,0.057722,0.971121,0.590277,0.257112,1.000000,0.466863,0.971121,65,1.103734
4,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,76,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984669,1.000000,1.000000,1.000000,0.930233,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,85,1.000000
984670,0.445946,0.743191,0.822485,1.516667,0.000000,0.233542,0.445090,1.000000,0.375568,0.319932,0.200938,1.000000,85,1.530337
984671,1.021148,0.793706,0.608696,1.565789,0.933333,0.017206,0.118331,0.046499,0.057781,0.033065,1.000000,0.046499,108,0.847059
984672,0.000000,0.819149,0.000000,2.128655,1.011223,0.919467,0.792109,0.810191,0.546131,0.938481,0.857458,1.000000,154,0.829401
984673,1.193443,0.939007,1.529020,0.755285,0.925271,1.686946,1.695085,1.833086,1.405510,1.000000,1.042135,2.785771,127,0.873210

In [59]:
import numpy  as np
#Find all the columns contain np.inf 
df.columns[df.isin([np.inf, -np.inf]).any()]
# Replace np.inf in that columns with median of that columns
df['y1'] = df['y1'].replace([np.inf, -np.inf], np.nan)
df['y1'] = df['y1'].fillna(df['y1'].median())
# do similar with y2,y3,y4,y5,y6,y7
df['y2'] = df['y2'].replace([np.inf, -np.inf], np.nan)
df['y2'] = df['y2'].fillna(df['y2'].median())
df['y3'] = df['y3'].replace([np.inf, -np.inf], np.nan)
df['y3'] = df['y3'].fillna(df['y3'].median())
df['y4'] = df['y4'].replace([np.inf, -np.inf], np.nan)
df['y4'] = df['y4'].fillna(df['y4'].median())
df['y5'] = df['y5'].replace([np.inf, -np.inf], np.nan)
df['y5'] = df['y5'].fillna(df['y5'].median())
df['y6'] = df['y6'].replace([np.inf, -np.inf], np.nan)
df['y6'] = df['y6'].fillna(df['y6'].median())
# Load the data into a pandas DataFrame

# Store the label columns
label_columns = [col for col in df.columns if col.startswith("Label")]

# Store the data columns to be scaled
data_columns = [col for col in df.columns if col not in label_columns]

# Scale the data columns using Min-Max Scaling
df[data_columns] = (df[data_columns] - df[data_columns].min()) / (df[data_columns].max() - df[data_columns].min())

# Store the scaled data in the DataFrame
df = df[data_columns + label_columns]

In [60]:
df.describe()

,x1,x2,x3,x4,x5,y1,y2,y3,y4,y5,y6,y7,z1,Label
count,984674.000000,984674.000000,984674.000000,984674.000000,984674.000000,9.846740e+05,9.846740e+05,9.846740e+05,9.846740e+05,9.846740e+05,9.846740e+05,9.846740e+05,984674.000000,984674.000000
mean,0.188294,0.191825,0.197786,0.254350,0.140850,3.527771e-05,3.529745e-05,2.382149e-05,1.767202e-05,1.888557e-05,1.814429e-05,3.246447e-06,0.353141,1.103718
std,0.120443,0.121327,0.118995,0.120943,0.081267,4.381761e-03,4.425151e-03,3.648399e-03,3.164679e-03,3.206012e-03,3.128767e-03,1.549579e-03,0.273794,0.693366
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,0.122168,0.132588,0.144509,0.197705,0.101435,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.273172e-10,0.124224,0.808858
50%,0.194444,0.194444,0.194444,0.274760,0.136486,7.839046e-310,1.087217e-309,1.275586e-309,1.450136e-309,1.654246e-309,1.713177e-309,1.924419e-09,0.267081,1.000000
75%,0.194444,0.203756,0.220620,0.280798,0.160608,2.418478e-309,2.481808e-309,2.736511e-309,2.918117e-309,3.838351e-309,4.144072e-309,1.924419e-09,0.472050,1.257692
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,7.821012

In [63]:
df

,x1,x2,x3,x4,x5,y1,y2,y3,y4,y5,y6,y7,z1,Label
0,0.309343,0.254659,0.132588,0.351355,0.119479,1.276432e-309,1.516910e-309,1.088810e-309,1.273626e-309,1.012527e-309,4.905984e-309,1.924419e-09,0.472050,1.962617
1,0.086712,0.144509,0.159928,0.423704,0.000000,1.251190e-309,2.474581e-309,5.623489e-309,2.095098e-309,2.109608e-309,1.073847e-309,1.924419e-09,0.124224,0.819149
2,0.194444,0.194444,0.194444,0.279365,0.136486,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.924419e-09,0.403727,0.200000
3,0.049828,0.177859,0.172241,0.150298,0.139329,3.245962e-310,5.461090e-309,3.319415e-309,1.445864e-309,5.623489e-309,2.705919e-309,1.868844e-09,0.000000,1.103734
4,0.194444,0.194444,0.194444,0.279365,0.136486,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.924419e-09,0.068323,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
984669,0.194444,0.194444,0.194444,0.259874,0.136486,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.924419e-09,0.124224,1.000000
984670,0.086712,0.144509,0.159928,0.423704,0.000000,1.313321e-309,2.502961e-309,5.623489e-309,2.112003e-309,1.799134e-309,1.164631e-309,1.924419e-09,0.124224,1.530337
984671,0.198557,0.154332,0.118357,0.437427,0.127387,9.675815e-311,6.654308e-310,2.614850e-310,3.249325e-310,1.859415e-310,5.795960e-309,8.948300e-11,0.267081,0.847059
984672,0.000000,0.159279,0.000000,0.594672,0.138017,5.170615e-309,4.454419e-309,4.556103e-309,3.071161e-309,5.277536e-309,4.969793e-309,1.924419e-09,0.552795,0.829401
984673,0.232058,0.182585,0.297309,0.211000,0.126286,9.486522e-309,9.532295e-309,1.030834e-308,7.903868e-309,5.623489e-309,6.040171e-309,5.360990e-09,0.385093,0.873210

In [65]:
df.to_csv('data_new.csv', index=False)

In [64]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Load the data into a Pandas DataFrame
X = df.drop("Label", axis=1)
y = df["Label"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict the target for the test data
y_pred = model.predict(X_test)

# Compute the mean squared error of the predictions
mse = mean_squared_error(y_test, y_pred)

print("Mean Squared Error:", mse)

Mean Squared Error: 0.45599210665909784