In [1]:
%cd /Users/trancatkhanh/Downloads

/Users/trancatkhanh/Downloads

In [88]:
import pandas as pd 
import numpy as np
df = pd.read_csv('Data_Supervised_Train (2).csv')
#describe df
df.describe()

,x1,x2,x3,x4,x5,y1,y2,y3,y4,y5,y6,y7,z1,Label
count,983142.000000,983142.000000,983142.000000,983142.000000,983142.000000,9.831420e+05,9.831420e+05,9.831420e+05,9.831420e+05,9.831420e+05,9.831420e+05,9.831420e+05,983142.000000,983142.000000
mean,0.968233,0.986395,1.017026,0.910186,1.031889,inf,inf,inf,inf,inf,inf,1.657829e+03,121.860217,1.103755
std,0.619810,0.624362,0.612318,0.433059,0.595757,inf,inf,inf,inf,inf,inf,8.055538e+05,44.079518,0.693764
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,65.000000,0.000000
25%,0.628293,0.681883,0.742604,0.707692,0.743191,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.768520e-01,85.000000,0.808858
50%,1.000000,1.000000,1.000000,0.983516,1.000000,1.390749e-01,1.933349e-01,2.266423e-01,2.575107e-01,2.940246e-01,2.954519e-01,1.000000e+00,108.000000,1.000000
75%,1.000000,1.047887,1.134615,1.005128,1.176829,4.299902e-01,4.411936e-01,4.861816e-01,5.182592e-01,6.819204e-01,7.147434e-01,1.000000e+00,141.000000,1.257692
max,5.142857,5.142857,5.142857,3.579545,7.326780,1.778255e+308,1.778255e+308,1.778255e+308,1.778255e+308,1.778255e+308,1.725340e+308,5.196374e+08,226.000000,7.821012

In [89]:
print(df.isin([np.inf, -np.inf]).sum())
# # delete all the rows that contain np.inf, -np.inf, or np.nan 
# df = df.replace([np.inf, -np.inf], np.nan)
# df = df.dropna()

x1       0
x2       0
x3       0
x4       0
x5       0
y1       0
y2       0
y3       0
y4       0
y5       0
y6       0
y7       0
z1       0
Label    0
dtype: int64

In [90]:
print(df.isin([np.inf, -np.inf]).sum())

x1       0
x2       0
x3       0
x4       0
x5       0
y1       0
y2       0
y3       0
y4       0
y5       0
y6       0
y7       0
z1       0
Label    0
dtype: int64

In [93]:
# Store the label columns
label_columns = [col for col in df.columns if col.startswith("Label")]

# Store the data columns to be scaled
data_columns = [col for col in df.columns if col not in label_columns]

# Scale the data columns using Min-Max Scaling
df[data_columns] = (df[data_columns] - df[data_columns].min()) / (df[data_columns].max() - df[data_columns].min())

# Store the scaled data in the DataFrame
df = df[data_columns + label_columns]

In [94]:
df.describe()

,x1,x2,x3,x4,x5,y1,y2,y3,y4,y5,y6,y7,z1,Label
count,983142.000000,983142.000000,983142.000000,983142.000000,983142.000000,9.831420e+05,9.831420e+05,9.831420e+05,9.831420e+05,9.831420e+05,9.831420e+05,9.831420e+05,983142.000000,983142.000000
mean,0.188267,0.191799,0.197755,0.254274,0.140838,1.760619e-05,1.784265e-05,1.345941e-05,9.220652e-06,7.950563e-06,7.507437e-06,3.190357e-06,0.353169,1.103755
std,0.120519,0.121404,0.119062,0.120982,0.081312,3.697451e-03,3.748915e-03,3.193252e-03,2.688851e-03,2.537684e-03,2.515886e-03,1.550223e-03,0.273786,0.693764
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000,0.000000
25%,0.122168,0.132588,0.144395,0.197705,0.101435,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.252211e-10,0.124224,0.808858
50%,0.194444,0.194444,0.194444,0.274760,0.136486,7.820862e-310,1.087217e-309,1.274521e-309,1.448109e-309,1.653444e-309,1.712428e-309,1.924419e-09,0.267081,1.000000
75%,0.194444,0.203756,0.220620,0.280798,0.160620,2.418045e-309,2.481047e-309,2.734037e-309,2.914425e-309,3.834772e-309,4.142625e-309,1.924419e-09,0.472050,1.257692
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,7.821012

In [95]:
df

,x1,x2,x3,x4,x5,y1,y2,y3,y4,y5,y6,y7,z1,Label
0,0.309343,0.254659,0.132588,0.351355,0.119479,1.276432e-309,1.516910e-309,1.088810e-309,1.273626e-309,1.012527e-309,4.905984e-309,1.924419e-09,0.472050,1.962617
1,0.086712,0.144509,0.159928,0.423704,0.000000,1.251190e-309,2.474581e-309,5.623489e-309,2.095098e-309,2.109608e-309,1.073847e-309,1.924419e-09,0.124224,0.819149
2,0.194444,0.194444,0.194444,0.279365,0.136486,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.924419e-09,0.403727,0.200000
3,0.049828,0.177859,0.172241,0.150298,0.139329,3.245962e-310,5.461090e-309,3.319415e-309,1.445864e-309,5.623489e-309,2.705919e-309,1.868844e-09,0.000000,1.103734
4,0.194444,0.194444,0.194444,0.279365,0.136486,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.924419e-09,0.068323,1.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
983137,0.194444,0.194444,0.194444,0.259874,0.136486,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.924419e-09,0.124224,1.000000
983138,0.086712,0.144509,0.159928,0.423704,0.000000,1.313321e-309,2.502961e-309,5.623489e-309,2.112003e-309,1.799134e-309,1.164631e-309,1.924419e-09,0.124224,1.530337
983139,0.198557,0.154332,0.118357,0.437427,0.127387,9.675815e-311,6.654308e-310,2.614850e-310,3.249325e-310,1.859415e-310,5.795960e-309,8.948300e-11,0.267081,0.847059
983140,0.000000,0.159279,0.000000,0.594672,0.138017,5.170615e-309,4.454419e-309,4.556103e-309,3.071161e-309,5.277536e-309,4.969793e-309,1.924419e-09,0.552795,0.829401
983141,0.232058,0.182585,0.297309,0.211000,0.126286,9.486522e-309,9.532295e-309,1.030834e-308,7.903868e-309,5.623489e-309,6.040171e-309,5.360990e-09,0.385093,0.873210

In [44]:
df.to_csv('data_12_02.csv', index=False)

In [98]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# Load the data into a Pandas DataFrame
X = df.drop("Label", axis=1)
y = df["Label"]

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)


# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Train the linear regression model
model = LinearRegression()
model.fit(X_train, y_train)

# Predict the target for the test data
y_pred = model.predict(X_test)

# Compute the mean squared error of the predictions
mse = mean_squared_error(y_test, y_pred)

print("Mean Squared Error:", mse)

Mean Squared Error: 0.4543238827258583

In [101]:
np.array(X_test.iloc[0])

array([1.75474255e-001, 1.41975309e-001, 1.62568306e-001, 1.45148378e-001,
       7.61661275e-002, 2.54359983e-312, 5.57633757e-310, 4.53589954e-310,
       5.62348935e-309, 1.88318588e-309, 2.60664265e-310, 1.92441893e-009,
       3.85093168e-001])

In [105]:
model.predict(np.array(X_test.iloc[0]).reshape(1, -1))

array([1.05875087])

In [1]:
import numpy as np

data = [
    {
        "A": 0.08571987480438185,
        "B": 0.09270025839793275,
        "C": 0.43565867003366976,
        "D": 0.5425819411917764,
        "E": 0.09530460780528589,
        "F": 1.9982691004509712e-304,
        "G": 0.0,
        "H": 0.09891110485309298
    }
]

# Convert the list of dictionaries into a 2D numpy array
data_array = np.array([list(d.values()) for d in data])

# Reshape the data array into (1, -1)
reshaped_data = data_array.reshape(1, -1)

print(reshaped_data)

[[8.57198748e-002 9.27002584e-002 4.35658670e-001 5.42581941e-001
  9.53046078e-002 1.99826910e-304 0.00000000e+000 9.89111049e-002]]

In [5]:
import pickle

# Load the model file
with open('model.pkl', 'rb') as file:
    model = pickle.load(file)

ModuleNotFoundError: No module named 'azureml.training'