In [10]:
%cd /Users/trancatkhanh/Downloads

/Users/trancatkhanh/Downloads

# R2 Score predictions

In [11]:
import pandas as pd 
import numpy as np
df1 = pd.read_csv('File_Test13.csv')
#describe df
df1.columns

Index(['x1', 'x2', 'x3', 'x4', 'x5', 'y1', 'y2', 'y3', 'y4', 'y5', 'y6', 'y7',
       'z1', 'Label'],
      dtype='object')

In [14]:
df1.describe()

,x1,x2,x3,x4,x5,y1,y2,y3,y4,y5,y6,y7,z1,Label
count,38541.000000,38541.000000,38541.000000,38541.000000,38541.000000,38541.000000,38541.000000,38541.000000,38541.000000,38541.000000,38541.000000,38541.000000,38541.0,38541.0
mean,1.530384,1.299386,2.151563,1.091473,1.437686,0.247395,0.703803,0.562746,0.508716,0.673299,1.054336,0.320943,141.0,0.0
std,0.283576,0.437758,0.864700,0.142938,0.446373,0.933386,12.271791,0.275747,1.625355,0.328126,7.725601,12.294071,0.0,0.0
min,0.697674,0.712500,0.805970,0.610619,0.539377,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,141.0,0.0
25%,1.524206,0.908451,1.314961,1.025641,1.188586,0.019241,0.298277,0.388641,0.401697,0.575696,1.000000,0.000064,141.0,0.0
50%,1.524206,1.248241,2.128655,1.025641,1.194521,0.096015,0.444505,0.625732,0.423214,0.741086,1.000000,0.003242,141.0,0.0
75%,1.631589,1.697872,3.008475,1.232241,2.080838,0.300119,0.633596,0.716650,0.572378,0.792089,1.000000,0.167017,141.0,0.0
max,2.714286,3.418919,3.099576,1.978947,2.080838,42.069930,699.915341,19.359476,84.899830,13.940077,747.662711,700.564832,141.0,0.0

In [6]:
df1.head(10)
df1['Label'] = 0

In [13]:
df1.head(10)

,x1,x2,x3,x4,x5,y1,y2,y3,y4,y5,y6,y7,z1,Label
0,1.268269,1.813253,1.923664,1.678137,1.164000,0.217031,0.352956,0.458019,0.271338,1.000000,0.576655,0.000513,141,0
1,1.274375,2.284257,1.466258,1.232241,1.194521,0.296505,0.047177,0.113555,1.000000,0.687735,0.725690,0.000000,141,0
2,1.274375,2.284257,1.466258,1.232241,1.194521,0.296376,0.047156,0.113506,1.000000,0.687876,0.725920,0.000000,141,0
3,1.274375,2.284257,1.466258,1.232241,1.194521,0.296505,0.047177,0.113555,1.000000,0.687735,0.725690,0.000000,141,0
4,1.274375,2.284257,1.466258,1.232241,1.194521,0.292622,0.046559,0.112068,1.000000,0.680299,0.721238,0.000000,141,0
5,1.590909,1.703333,1.314961,1.232241,1.194521,0.474024,0.348840,0.373791,0.817188,0.809224,1.000000,0.187509,141,0
6,1.590909,1.703333,1.314961,1.232241,1.194521,0.978829,0.570859,0.601504,0.881397,0.970308,1.000000,0.335064,141,0
7,1.590909,1.703333,1.899791,1.232241,1.194521,0.517969,0.298237,0.315084,0.809071,0.800631,1.000000,0.184832,141,0
8,1.590909,1.703333,1.314961,1.232241,1.194521,0.574957,0.348350,0.341028,0.821887,0.804945,1.000000,0.183097,141,0
9,1.590909,1.703333,1.314961,1.232241,1.194521,0.586909,0.370226,0.338942,0.813454,0.807905,1.000000,0.178723,141,0

In [9]:
df1.to_csv('File_test13.1.csv', index=False)

In [19]:
# print the  different between value in each rows of  Label_orig and Label_predicted
df1.describe()

,x1,x2,x3,x4,x5,y1,y2,y3,y4,y5,y6,y7,z1,Label
count,884367.000000,884367.000000,884367.000000,884367.000000,884367.000000,884367.000000,884367.000000,884367.000000,884367.000000,884367.000000,884367.000000,884367.000000,884367.0,884367.0
mean,0.714250,0.986205,0.645919,0.913870,0.956330,0.371812,0.214097,0.513372,0.312281,0.355954,0.358167,0.687446,154.0,0.0
std,0.538511,0.389108,0.630432,0.402380,0.315336,0.369896,0.279146,0.369801,0.303440,0.313094,0.328427,0.419871,0.0,0.0
min,0.000000,0.235294,0.000000,0.000000,0.283795,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,-1.000000,154.0,0.0
25%,0.000000,0.808696,0.000000,0.681883,0.768519,0.103015,0.046409,0.191702,0.122154,0.145271,0.156282,0.276957,154.0,0.0
50%,0.853333,0.828846,0.519565,0.805970,0.931894,0.324960,0.195083,0.618425,0.288347,0.302918,0.272253,1.000000,154.0,0.0
75%,1.112245,1.207128,1.113924,1.079812,1.257692,0.548262,0.300626,0.772523,0.395773,0.554258,0.538301,1.000000,154.0,0.0
max,1.873737,2.714286,3.418919,3.099576,1.978947,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,154.0,0.0

# NMAE Score predictions

In [6]:
import pandas as pd 
import numpy as np
df = pd.read_csv('train_2016.csv')
#describe df
df.describe()

,geomean,geo_limit,harmean,har_limit,bitmean,profit,rank_diff,value_geo,value_har,value_new
count,6.916397e+06,6.916397e+06,6.916397e+06,6.916397e+06,6.916397e+06,6.916397e+06,6.916397e+06,6.914139e+06,6.914139e+06,6.916397e+06
mean,7.769068e-01,1.090657e+00,6.910342e-01,1.061744e+00,1.560491e-02,9.827711e-01,4.356229e+00,3.619612e-01,4.355133e-01,6.041116e-01
std,1.703982e-01,1.181027e-01,1.426650e-01,8.330797e-02,7.240938e-02,6.765430e-01,1.062461e+00,4.794957e-01,4.847804e-01,4.819420e-01
min,2.175554e-01,1.010000e+00,8.607264e-02,1.010000e+00,0.000000e+00,0.000000e+00,2.221769e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,6.519724e-01,1.010000e+00,6.022518e-01,1.010000e+00,0.000000e+00,5.387755e-01,3.664079e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,7.878703e-01,1.020431e+00,6.854843e-01,1.010000e+00,0.000000e+00,8.224852e-01,4.393099e+00,0.000000e+00,0.000000e+00,1.000000e+00
75%,8.888511e-01,1.136768e+00,7.714192e-01,1.084040e+00,9.554140e-03,1.241429e+00,5.073310e+00,1.000000e+00,1.000000e+00,1.000000e+00
max,1.765031e+00,2.027795e+00,1.515757e+00,1.659756e+00,1.000000e+00,5.142857e+00,9.678982e+00,1.000000e+00,1.000000e+00,1.000000e+00

In [7]:
df.head(10)

,geomean,geo_limit,harmean,har_limit,bitmean,profit,rank_diff,value_geo,value_har,value_new
0,0.628293,1.01,0.628293,1.01,0.0,0.835962,2.924147,1.0,1.0,0.0
1,0.473611,1.01,0.473611,1.01,0.0,0.606742,2.999974,0.0,0.0,1.0
2,0.472222,1.01,0.472222,1.01,0.0,0.321429,2.940920,0.0,0.0,1.0
3,0.628293,1.01,0.628293,1.01,0.0,0.311209,2.808094,1.0,1.0,0.0
4,0.628293,1.01,0.628293,1.01,0.0,0.427928,2.900480,1.0,1.0,0.0
5,0.745037,1.01,0.745037,1.01,0.0,0.321429,2.864720,0.0,0.0,1.0
6,0.628293,1.01,0.628293,1.01,0.0,0.563492,2.723082,1.0,1.0,0.0
7,0.502273,1.01,0.502273,1.01,0.0,0.644330,3.003930,0.0,0.0,1.0
8,0.628293,1.01,0.628293,1.01,0.0,0.321429,3.326040,1.0,1.0,0.0
9,0.472222,1.01,0.472222,1.01,0.0,0.626741,2.902528,0.0,0.0,1.0

# NRMSE Score predictions

In [86]:
import pandas as pd 
import numpy as np
df2 = pd.read_csv('predictions.csv')
#describe df

In [88]:
# print maximum the precentage different between value in each rows of  Label_orig and Label_predicted
print(df2['Label_orig'].sub(df2['Label_predicted'], axis = 0).abs().sum())

76280.22078397976

# Spearman Correlation Score predictions

In [33]:
import pandas as pd 
import numpy as np
df3 = pd.read_csv('predictions (4).csv')
#describe df
df3.describe()

,Label_orig,Label_predicted,x1_orig,x2_orig,x3_orig,x4_orig,x5_orig,y1_orig,y2_orig,y3_orig,y4_orig,y5_orig,y6_orig,y7_orig,z1_orig
count,295022.0,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000,295022.000000
mean,0.0,1.125348,0.968170,0.983695,1.019461,0.907629,1.030288,2.904669,2.414379,2.474589,2.102180,2.412832,2.417959,2.171393,121.872081
std,0.0,0.601662,0.617373,0.624529,0.615941,0.433487,0.591801,219.247274,150.895177,191.704086,170.902810,206.453945,201.581442,212.737414,44.034504
min,0.0,-0.313503,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,65.000000
25%,0.0,0.844785,0.628293,0.681883,0.740533,0.702899,0.743191,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.375658,85.000000
50%,0.0,1.012387,1.000000,1.000000,1.000000,0.983516,1.000000,0.139755,0.193232,0.226949,0.257713,0.294379,0.295576,1.000000,127.000000
75%,0.0,1.258745,1.000000,1.046729,1.134725,1.000000,1.169935,0.431089,0.441181,0.490654,0.519588,0.682272,0.716007,1.000000,141.000000
max,0.0,8.207677,5.142857,5.142857,5.142857,3.579546,7.326780,64707.227000,48474.066000,82009.190000,61871.516000,97746.914000,69368.630000,83776.125000,226.000000

In [31]:
# print maximum the precentage different between value in each rows of  Label_orig and Label_predicted
print(df3['Label_orig'].sub(df3['Label_predicted'], axis = 0).abs().sum())
print(df3['Label_orig'].sub(df3['Label_predicted'], axis = 0).abs().sum()/df3['Label_orig'].sum())
# sum all value in Label_orig
print(df3['Label_orig'].sum())

332123.89434963744
inf
0.0

/var/folders/ds/4lcv95w11y7brm6dqhc04s240000gn/T/ipykernel_11230/2919112743.py:3: RuntimeWarning: divide by zero encountered in double_scalars
  print(df3['Label_orig'].sub(df3['Label_predicted'], axis = 0).abs().sum()/df3['Label_orig'].sum())